menu "W25Q64 Configuration"

	choice SPI_BUS
		prompt "SPI BUS"
		default SPI2
		help
			Select SPI BUS.
		config SPI2
			bool "SPI2"
			help
				SPI BUS is SPI2.
				SCLK GPIO14. MISO GPIO12. MOSI GPIO13.
		config SPI3
			bool "SPI3"
			help
				SPI BUS is SPI3.
				SCLK GPIO18. MISO GPIO19. MOSI GPIO23.
		config CUSTOM_SPI
			bool "CUSTOM"
			help
				SPI BUS is CUSTOM.
	endchoice

	config MISO_GPIO
		depends on CUSTOM_SPI
		int "MISO GPIO number"
		range 0 46
		default 12 if IDF_TARGET_ESP32
		default 33 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI MISO.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to MISO.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

	config MOSI_GPIO
		depends on CUSTOM_SPI
		int "MOSI GPIO number"
		range 0 46
		default 13 if IDF_TARGET_ESP32
		default 35 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI MOSI.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to MOSI.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

	config SCLK_GPIO
		depends on CUSTOM_SPI
		int "SCLK GPIO number"
		range 0 46
		default 14 if IDF_TARGET_ESP32
		default 36 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI SCLK.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to SCLK.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

	config CS_GPIO
		int "CS GPIO number"
		range 0 46
		default 15 if IDF_TARGET_ESP32
		default 34 if IDF_TARGET_ESP32S2
		help
			GPIO number (IOxx) to SPI CS.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to CS.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

endmenu
